<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.literoom.mapper.UserMapper">
    <!--    namespace 表示实现的是哪个接口-->
    <select id="select" resultType="org.example.literoom.model.User">
        select * from user where user_name = #{username};
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="userid">
        insert into user values (null,#{username},#{password});
    </insert>
</mapper>